.hamburger-btn {
    width: 40px;
    height: 40px;
    position: relative;
    cursor: pointer;
    display: none;
    z-index: 99;
    border: 1px solid #004680;
    border-radius: 100%;
    .bar {
        width: 20px;
        height: 1px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #004680;
        border-radius: 1px;
        transition: all 0.3s ease;

        &::before,
        &::after {
            content: "";
            width: 20px;
            height: 1px;
            position: absolute;
            left: 0;
            border-radius: 1px;
            background-color: #004680;
            transition: all 0.3s ease;
        }

        &::before {
            top: -6px;
        }

        &::after {
            top: 6px;
        }
    }

    &.--active {
      

        .bar {
            background-color: transparent;

            &::before {
                transform: rotate(45deg);
            }

            &::after {
                transform: rotate(135deg);
            }

            &::before,
            &::after {
                top: 0;
            }
        }
    }
}

.scroll-top {
    position: fixed;
    bottom: 40px;
    right: 30px;
    width: 50px;
    height: 50px;
    background-color: $main-cl;
    border: 1px $main-cl solid;
    border-radius: 4px;
    cursor: pointer;
    z-index: 98;
    overflow: hidden;
    transition: all .3s ease;
    @include hidden();

    &.--active {
        @include visible();
    }

    img {
        @include pos-mid;
        filter: brightness(0) invert(1);
    }

    &:hover {
        opacity: .8;
    }
}